$primary-color: #3bdd25;
$red: rgb(207, 4, 4);
$darkgray: #808080; 
$lightgray: #d3d3d3;
$lightblue: #add8e6;
$white: rgb(255, 255, 255);
$darkblue: #030316;
$error-back: #f7afaf;
$error-text: #500c0c;
$pending-back: #9aff81;
$pending-text: #1a500c;